/*global */
/*TEMP*/
body{background:rgb(240, 229, 229);}
/*TEMP*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
.uppercase{
    text-transform: uppercase;
}
/* COULEURS */
.texte_orange{
    color:#DF6951;
}
.texte_gris_1{
    color:#BFC0CD;
}
.texte_gris_2{
    color:#8d8d8d;
}
.texte_gris_3{
    color:#3E3F43;
}
.texte_gris_4{
    color:#5E6282;
}
.texte_gris_5{
    color:#989898;
}
.texte_bleu{
    color:#1E1D4C;
}
.texte_sombre{
    color:#22232C;
}
.texte_violet{
    color: #14183E;
}
.texte_noir{
    color:#000;
}
.texte_blanc{
    color:white;
}
.texte_vert{
    color:green;
}
/* POLICES */
.texte_poppins_regular{
    font-family: 'poppins-regular';
}
.texte_poppins_bold {
    font-family: 'poppins-bold';
}
.texte_volkhov_bold {
    font-family: 'volkhov-bold';
}
.texte_opensans_regular{
    font-family: "open-sans-regular";
}
.titre_maki{
    font-size: 20px;
    font-weight:600;
}



/*TITRES */

h1{
    font-size:84px;
}
h2{
    font-size:50px;
}
h3{
    font-size: 20px;
}
h5{
    font-size:16px;
}
nav ul{
    font-family:'Arial';
}