/*global */
* {
    margin: 0;
    padding: 0;
}
.yellowButton
{background-color:#f1a501;
color:white;
width:180px;
height:50px;
border:none;
border-radius: 10px;
margin-top:25px;
font-size:18px;
font-weight:400;}
/*IMG GENERAL */
.image50px
{width:50px;}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
.uppercase{
    text-transform: uppercase;
}
/* COULEURS */
.texte_orange{
    color:#DF6951;
}
.texte_gris_1{
    color:#BFC0CD;
}
.texte_gris_2{
    color:#8d8d8d;
}
.texte_gris_3{
    color:#3E3F43;
}
.texte_gris_4{
    color:#5E6282;
}
.texte_gris_5{
    color:#989898;
}
.texte_bleu{
    color:#1E1D4C;
}
.texte_sombre{
    color:#22232C;
}
.texte_violet{
    color: #14183E;
}
.texte_noir{
    color:#000;
}
.texte_blanc{
    color:white;
}
.texte_vert{
    color:green;
}
/* POLICES */
.texte_poppins_regular{
    font-family: 'poppins-regular';
}
.texte_poppins_bold {
    font-family: 'poppins-bold';
}
.texte_volkhov_bold {
    font-family: 'volkhov-bold';
}
.texte_opensans_regular{
    font-family: "open-sans-regular";
}
.titre_maki{
    font-size: 20px;
    font-weight:600;
}



/*TITRES */

h1{
    font-size:84px;
}
h2{
    font-size:50px;
}
h3{
    font-size: 20px;
}
h5{
    font-size:16px;
}
nav ul{
    font-family:'Arial';
}

/* HEADER */
header{
    height:70px;
    background-color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;}
#logo{
    margin-left:8%;
    display: inline-flex;
    gap:20px;}
#logo img{
height:30px;}
nav{
    margin-right:10%;
    align-items: center;
    align-items: center;}
header ul{
    display:inline-flex;
    gap:30px;
    font-family: 'Arial';
    font-size:17px;
    font-weight:500;}

/* SECTIONS */
/* SECTION 1 */
#section1
{background-image:url("../img/illustration_principale.jpg");
    background-size:cover;
    height:800px;
}
#section1 article
{width:650px;
padding-top:120px;
padding-left:8%;}
#section1 h1{
    margin-top:40px;
}
#section1 h5{width:470px;
margin-top:25px;
line-height: 30px;
font-weight:500;}
/* SECTION 2 */
#section2
{background-image:url("../img/decor_1.svg");
background-repeat:no-repeat;
background-position:top right;
}












/* FORMULAIRE */
#container_formulaire
{display:flex;}
#formulaire_gauche, #formulaire_droite
{width:50%;}

