/*global */
* {
    margin: 0;
    padding: 0;
}
body * {
    box-sizing: border-box;
}
body a {
    text-decoration:none;
    color:black;
}
.yellowButton
{background-color:#f1a501;
color:white;
width:180px;
height:50px;
border:none;
border-radius: 10px;
margin-top:25px;
font-size:18px;
font-weight:400;
cursor:pointer;}
.yellowButton:hover{
    scale: 1.05;
    transition: 0.3s;
}
section{
    position:relative;
}
/*IMG GENERAL */
.image50px
{width:50px;}
.image60px
{width:60px;}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
.uppercase{
    text-transform: uppercase;
}
/* COULEURS */
.texte_orange{
    color:#DF6951;
}
.texte_gris_1{
    color:#BFC0CD;
}
.texte_gris_2{
    color:#8d8d8d;
}
.texte_gris_3{
    color:#3E3F43;
}
.texte_gris_4{
    color:#5E6282;
}
.texte_gris_5{
    color:#989898;
}
.texte_bleu{
    color:#1E1D4C;
}
.texte_sombre{
    color:#22232C;
}
.texte_violet{
    color: #14183E;
}
.texte_noir{
    color:#000;
}
.texte_blanc{
    color:white;
}
.texte_vert{
    color:green;
}
/* POLICES */
.texte_poppins_regular{
    font-family: 'poppins-regular';
}
.texte_poppins_bold {
    font-family: 'poppins-bold';
}
.texte_volkhov_bold {
    font-family: 'volkhov-bold';
}
.texte_opensans_regular{
    font-family: "open-sans-regular";
}
.titre_maki{
    font-size: 20px;
    font-weight:600;
}



/*TITRES */

h1{
    font-size:84px;
}
h2{
    font-size:50px;
}
h3{
    font-size: 20px;
}
h5{
    font-size:16px;
}
nav ul{
    font-family:'Arial';
}

/* HEADER */
header{
    height:70px;
    background-color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    left:0;
    z-index: 2;}
#logo{
    margin-left:8%;
    display: inline-flex;
    gap:20px;}
#logo img{
height:30px;}
nav{
    margin-right:10%;
    align-items: center;
    align-items: center;}
header ul{
    display:inline-flex;
    gap:30px;
    font-family: 'Arial';
    font-size:17px;
    font-weight:500;}

/* SECTIONS */
/* SECTION 1 */
#section1
{background-image:url("../img/illustration_principale.jpg");
    background-size:cover;
    height:800px;
}
#section1 article
{width:800px;
padding-top:120px;
padding-left:8%;}
#section1 h1{
margin-top:40px;
}
#section1 h5{width:470px;
margin-top:25px;
line-height: 30px;
font-weight:500;}

/* SECTION 2 */
#section2
{background-image:url("../img/decor_1.svg");
background-repeat:no-repeat;
background-position:top 25px right 30px;
display:flex;
flex-direction: column;
text-align:center;
}
#conteneur_titres{
    width:600px;
    margin:auto;
    margin-top:120px;
}
#section2 h4{
    font-size:18px;
}
#carte-ligne-1{
    width:950px;    
    margin:auto;
    margin-top:50px;
    display:flex;
    justify-content: space-around;
}
#carte-ligne-1 article{
    border-radius: 0px 0px 25px 25px;
    width: 280px;
}
.nouveautes_plat{
    line-height: 28px;
    font-weight: 500;
    font-size:18px;
}
.nouveautes_img{
    width:100%;
    border-radius:25px 25px 0px 0px;
}
#section2 figcaption
{padding:0px 20px 20px 20px;}
#section2 figcaption{
    margin-top:10px;
}
#carte-ligne-1 .carte
{
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
}

#carte-ligne-2{
    
    width:1080px;    
    margin:100px auto;
    display:flex;
}
#carte-ligne-2 article{
    width:270px;
    height:330px;
    
}
#carte-ligne-2 img{
    width:150px;
    display:block;
    margin:auto;
}
#carte-ligne-2 article:hover
{
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
    border-radius:25px;
    transition:0.8s;
}
#carte-ligne-2 .titre_maki
{
    margin-top:40px;
}
.description_maki{
    width:150px;
    margin:20px auto;
    line-height:28px;
    
}
#section2 .yellowButton{
    margin:auto;
}
/* SECTION 3 */
#section3{
    background-image:url("../img/illustration_chef.jpg");
    background-size:cover;
    margin-top: 100px;
    padding-top: 100px;
    padding-left:8%;
    padding-bottom:420px;
    height:auto;
}
#section3 article{
    width:800px;
}
#conteneur_video{
    background-image:url("../img/visu_video.jpg");
    background-size:cover;
    width:306px;
    height:164px;
    border-radius:14px;
    border:solid black 1px;
}
#conteneur_video img{
    margin:40px auto;
    display:block;
    background:white;
    border:solid white 3px;
    border-radius: 50%;
    cursor:pointer;
}
#section3 h1{
    width:600px;
    margin-top:100px;
}
#section3 h5{
    width:430px;
    font-size:16px;
    font-weight:500;
    line-height: 30px;
    margin-top:50px;
}
#double_illustration{
    position:absolute;
    left:0;
    bottom:-310px;
    z-index: 1;
    display:flex;    
}
#double_illustration img{
    width:500px;
}


/*SECTION 4*/
#section4{
    background-image:url("../img/illustration_commander.jpg");
    background-size:cover;
    height:1050px;
    padding-top:420px;
    padding-left:8%;
}
#section4 h2{
    width:390px;
    margin-top:15px;
}
#section4 h4{
    font-size: 18px;
    font-weight:600;
}
#section4 article{

    width:400px;
}
#section4 figure{

    height:70px;
    margin-top:25px;

    
}
#section4 figcaption{

    width:320px;
    position:relative;
    height:70px;
    left:85px;
    top:-60px;

}
.texte-livraison{
margin-top:8px;
}










/* FORMULAIRE */
#container_formulaire
{display:flex;}
#formulaire_gauche, #formulaire_droite
{width:50%;}

